

:root {
    --gap: 35px;
    --border: 1.4em;
    --gray:rgb(218, 218, 218);
    --max_w: 550px
}

.content {
    width: calc(100vw);
    /*width: calc(100vw - 70px);*/
    padding: var(--gap);
    background-color: rgb(255, 255, 255);
    gap: var(--gap);
    justify-content: center;
}



div {
    display: flex;
}

.left {
    height: 100vh;
    width: 50%;
    max-width: var(--max_w);
    background-color: var(--gray);
    border-radius: var(--border);
    -webkit-border-radius: var(--border);
    -moz-border-radius: var(--border);
    -ms-border-radius: var(--border);
    -o-border-radius: var(--border);
}


.right {
    flex-direction: column;
    height: 100vh;
    width: 50%;
    gap: var(--gap);
    max-width: var(--max_w);
}

.top {
    background-color: var(--gray);
    height: 50%;
    width: 100%;
    border-radius: var(--border);
}

.bottom {
    background-color: var(--gray);
    height: 50%;
    width: 100%;
    border-radius: var(--border);
}