@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

.topbar, .pesquisar, .header, .titulo{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
}

.topbar {
  position: relative;
    padding: 5px;
    margin: 0;
    border: none;
    height: 50px;
    width: calc(100vw - 10px);
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.pesquisar {
    padding: 0 15px;
    margin-left: 25px;
    font-size: 1.4em;
    height: 80%;
    width: 450px;
    color: rgb(173, 173, 173);
    border: none;
    border-bottom: 3px solid rgb(196, 196, 196);
}

.pesquisar:focus {
    outline: none;
    color: rgb(85, 85, 85);
}

.header {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 2.5em;
    background-color: white;
    cursor: pointer;
}

.titulo {
    display: block;
    font-size: 1.9em;
    color: rgb(48, 48, 48);
}